[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cassandra-driver = "*"
pyspark = "*"
tweepy = "==3.5"
kafka-python = "*"

[dev-packages]

[requires]
python_version = "3.6"
